.env
venv/
__pycache__/
*.pyc

*.index
*.pkl
*.parquet

airbus_chunks_faiss.index
airbus_faiss.index
airbus_topic_faiss.index

airbus_chunks_metadata.pkl
airbus_metadata.pkl
airbus_topic_metadata.pkl

airbuw_manual.pdf